@model IEnumerable<AgendaLDBM.Services.AgendaEntidad>

@{
    ViewBag.Title = "Index";
}

<div style="display:flex; margin-bottom:-30px; flex-direction:row"><div style="line-height: 80px"><FONT size="6">Agenda Luis David Betances |</FONT></div><div style="padding-left:9px; line-height: 87px">@Html.ActionLink("Crear Nuevo", "Create")</div></div>
    

<hr />

<input class="form-control input-lg glyphicon-search" style="max-width: 100%; margin-top:15px" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por Nombre, Apellido o por Télefono..">

<div style="overflow-y:auto; max-height:400px">
    <table class="table" id="myTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Télefono)
            </th>
            <th>Notas</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Télefono)
                </td>
                <td>
                    @Html.ActionLink("Mostrar", "Notes", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
